version: "3.9"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - gateway1
      - gateway2
    restart: always

  gateway1:
    build: .
    command:
      - uvicorn
      - app.api.gateway_service:app
      - --host
      - 0.0.0.0
      - --port
      - "8000"
    expose:
      - "8000"
    restart: always
    environment:
      - DEBUG=False
      - LOG_LEVEL=INFO

  gateway2:
    build: .
    command:
      - uvicorn
      - app.api.gateway_service:app
      - --host
      - 0.0.0.0
      - --port
      - "8000"
    expose:
      - "8000"
    restart: always
    environment:
      - DEBUG=False
      - LOG_LEVEL=INFO
